<center>
{% for key, flash in app.session.FlashBag.get('success') %}
<div class="alert alert-block alert-success" style="margin-top:20px;">
    <button type="button" class="close">x</button>
    {{ flash }}
</div>
<script>
$(function(){
    $(".close").click(function() {
    $(".alert-success").hide("slow");
});
});
</script>
{% endfor %}
{% for key, flash in app.session.FlashBag.get('error') %}
<div class="alert alert-block alert-error" style="margin-top:20px;">
    <button type="button" class="close">x</button>
    {{ flash }}
</div>
<script>
$(function(){
    $(".close").click(function() {
    $(".alert-error").hide("slow");
});
});
</script>
{% endfor %}
</center>